[submodule "LineKernel"]
	path = LineKernel
	url = https://github.com/RiversoftStudios/LineKernel.git
[submodule "CLineB"]
	path = CLineB
	url = https://github.com/RiversoftStudios/CLineB.git
[submodule "LineArch"]
	path = LineArch
	url = https://github.com/RiversoftStudios/LineArch.git
